<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
  <h1>Games</h1>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Platform</th>
      <th>Genre</th>
    </thead>
    <tbody>
      <tr ng-repeat="game in $ctrl.awesomeGames">
      <td ng-hide="game.edit">{{game.name}}</td>
        <td ng-show="game.edit"><input type="text" ng-model="game.name"></td>

        <td ng-hide="game.edit">{{game.platform}}</td>
        <td ng-show="game.edit"><input type="text" ng-model="game.platform"></td>

        <td ng-hide="game.edit">{{game.genre}}</td>
        <td ng-show="game.edit"><input type="text" ng-model="game.genre"></td>

        <td ng-hide="game.edit">
          <button class="btn btn-success" ng-click="$ctrl.toggleEdit(game)">Edit</button>
          <button class="btn btn-danger" ng-click="$ctrl.deleteGame(game)">Delete</button>
        </td>
        <td ng-show="game.edit">
          <button class="btn btn-primary" ng-click="$ctrl.saveGame(game)">Save</button>
          <button class="btn btn-danger" ng-click="$ctrl.toggleEdit(game)">Cancel</button>
        </td>
       
      </tr>
    </tbody>
    <tr>
          <td><input type="text" ng-model="$ctrl.newGame"></td>
          <td><input type="text" ng-model="$ctrl.newPlatform"></td>
          <td><input type="text" ng-model="$ctrl.newGenre"></td>
          <td>
            <button class="btn btn-primary" ng-click="$ctrl.addGame()">Add New</button>
          </td>
        </tr>
  </table>
</div>